/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

public/js/app\.js

public/css/

*.css

public/fontawesome-free-5\.2\.0-web/
